@import './normalize.css';

:root{
    --color-tint:#f40;
    --color-fontColor:#666;
    --fontSize:14px;
    --color-background:#fff;
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-fontColor)
}
h1,h2,h3{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}

body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-fontColor);
  /* rem vw/vh */
  width: 100vw;
}